.container-exerice{
  position: relative;
  width: 1024px;
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
    // background-image: url(../assets/background.png);
    // @include background-size(cover);
    // background-position: center center;
  form{
    position: relative;
    width: 100%;
    .statement{
      position: relative;
      width: 100%;
      height: 100%;
      h2{
        font : normal 500 18px "MikadoMedium";
        color: grey;
      }
      hr{
        margin: 10px auto;
        width: 50px;
        border-bottom: 1px solid grey ;
      }
      p{
        position: relative;
        margin: 0 auto;
        font : normal 500 125px "MikadoMedium";
        color: #353f51;
      }
      .title{
        font : normal 500 30px "MikadoMedium";
      }
      .compute{
        position: relative;
        width: 100%;
        margin: 150px 0 0 0;

        .question{
          width: 50%;
          float: left;
        }
        #answer{
          width: 49%;
          float: left;
          height: 144px;
          margin: 0;
        }
      }
      
      .buttons{
        width: 300px;
        height: 100px;
        margin: 50px auto 0 auto;
        #need-help{
          position: relative;
          display: block;
          width: 115px;
          height: 100px;
          float: left;
          // background-image: url(../assets/help_button.png);
          // @include background-size(cover);
          // background-position: center center;
          img{
            position: absolute;
            width: 100%;
            height: 100%;
          }
          .help_button{
            width: 75px;
            height: 75px;
            top: 12px;
            left: 23px;
          }
          .help_button_text{
            position: absolute;
            left: 0px;
            width: 100%;
            height: 100%;
          }
        }
        .validate_button{
          width: 160px;
          height: 62px;
          float: left;
          margin: 18px 0 0 15px;

          .validate_button__img{
            width: 160px;
            height: 62px;
          }
        }
      }
      .clue{
        position: relative;
        width: 485px;
        margin: 30px auto 0 auto;
        h3{
          position: relative;
          float: left;
          font : normal 500 19px "MikadoBold";
          color: #d8d8d8;
          width: 45px;
          text-transform: uppercase;
        }
        p{
          position: relative;
          float: left;
          text-align: left;
          width: 410px;
          font: normal 400 19px "MikadoRegular";
          color: #404065;
          margin: 0 0 0 30px;
        }
      }
      .timeline-exercices{
        ul{
          position: relative;
          width: 100%;
          height: 50px;
          li{
            width: 25px;
            height: 25px;

          }
          .item-previous{
            background: red;
          }
          .item-current{
            background: blue;
          }
          .item-next{
            background: green;
          }
        }
      }
    }
  }
  // input, select, textarea {
  //   // margin:0; 
  //   // padding:0;  
  //   // font-family:Arial;
  //   // -moz-box-sizing:border-box; /* Firefox */
  //   // -webkit-box-sizing:border-box; /* Safari */
  //   // box-sizing:border-box;
  // }
  input, input:focus,input:checked,input:invalid,input:valid,input[type="text"]{
    margin: 25px 0 0 0;
    width: 250px;
    height: 35px;
    font : normal 500 155px "MikadoLight";
    @include input-placeholder{
      font : normal 500 155px "MikadoLight";
      color: $text-color; 
    };

    @include input-placeholder-custom-big-size(#fff);
    outline: none;
    border: 0;
    color: yellow;
    background-color : white;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    box-shadow: none;
    border-radius: 20px;
    @include box-shadow(rgba($text-color, 1) 0 0 20px inset);
  }
  // input[type="submit"]{
  //   color: $red-background;
  //   background-color : white;
  //   width: 90px;
  //   float: right;
  //   margin: 25px 25px 0 0;
  // }

  @include input-placeholder-custom-big-size($text-color);


// a tester

//   input[type=number] {
//     height: 30px;
//     line-height: 30px;
//     font-size: 16px;
//     padding: 0 8px;
// }
// input[type=number]::-webkit-inner-spin-button { 
//     -webkit-appearance: none;
//     cursor:pointer;
//     display:block;
//     width:8px;
//     color: #333;
//     text-align:center;
//     position:relative;
// }    
// input[type=number]:hover::-webkit-inner-spin-button { 
//     background: #eee url('http://i.stack.imgur.com/YYySO.png') no-repeat 50% 50%;  
//     width: 14px;
//     height: 14px;
//     padding: 4px;
//     position: relative;
//     right: 4px;
//     border-radius: 28px;
// }
}
