.container-global-vision{
  height: 100%;
  display: block;
  background-image: none;
  background-color: #f6f9f9;
  .select-zone{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0 0 0;
    img{
      float: left;
      display: inline-block;
      width: 30px;
      height: 30px;
    }
    .switch__buton{
      margin: 0 0 0 92px;
      @include transform(translateY(50%));
    }
    .pause__button{
      margin: 0 0 0 20px;
      @include transform(translateY(50%));
    }
    a{
      float: left;
      color: #5c5c63;
      @include transform(translateY(50%));
    }
    #time-is-over{
      color: white;
      background-color: #f0445c;
      height: 35px;
      width: 100px;
      margin: 0 0 0 277px;
      @include border-radius(25px,25px);
      h3{
        margin: 7px 0 0 0;
        font : normal 400 15px "MikadoRegular";
      }
    }
    .time-container{
      float: left;
      height: 50px;
      position: relative;
      margin: 0px 0 0 277px;
      h3{
        font: normal 500 20px "MikadoRegular";
        text-transform: uppercase;
        color: #5c5c63;
      }
      h2{
        font : normal 400 39px "Mikado";
        color: #5c5c63;
      }
    }
  }
  ul{
    position: relative;
    top: 0px;
    height: 588px;
    li{
      position: relative;
      width: 16%;
      height: auto;
      float: left;
      margin: 55px 0 0 0;
      a{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        img{
          @include box-shadow(rgba(185,187,189, 1) 0 0 15px);
          position: relative;
          width: 75px;
          height: 75px;
          @include border-radius(38px);
          @include transform(translateX(-50%));
        }
        .help_anim_teacher{
          position: absolute;
          top: -40px;
          left: -1px;
          box-shadow: none;
          width: 165px !important;
          height: 165px !important;
          transform: none;
        }
        h6{
          margin: 15px 0 0 0;
        }
        svg,.circlue_cut_global{
          position: absolute;
          top: 0px;
          left: 20px;
          width: 125px;
          height: 125px;
          z-index: -2;
        }
        svg{
          top: -23px;
          @include transform(scaleX(-1));
          stroke-dasharray: 0 500;
        }
      }
    }
  } 
  .progess__bar{
    position: absolute;
    bottom: 20px;
    height: 25px;
    width: 90%;
    h3{
      position: absolute;
      width: 100%;
      text-align: left;
      padding: 0 0 0 25px;
      text-transform: uppercase;
      z-index: 5;
      font : normal 400 15px "Mikado";
      color: #b4bbc7;
      margin: 3px 0 0 0;
    }
    .bar{
      position: absolute;
      height: 25px;
      width: 0px;
      background-color: #d8e1e7;
    }
  }
  .pop-up{
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 10000;
    background-color: #f6f9f9;
    width: 100%;
    height: calc(100% - 90px);
    .frame{
      position: relative;
      width: 725px;
      height: 530px;
      left: 50px;
      top: 30px;
      background-color: white;
      float: left;
      @include box-shadow(rgba(185,187,189, 1) 0 0 105px);
      @include border-radius(20px);
      .pop-up__top-content{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        img{
          position: relative;
          float: left;
          top: 0;
          left: 0;
          width: 85px;
          height: 85px;
          margin: 15px 0 0 40px;
          @include box-shadow(rgba(254,251,251, 1) 0 0 1px);
          @include border-radius(20px);
        }
        h2{
          position: relative;
          float: left;
          font : normal 400 18px "MikadoRegular";
          text-transform: none;
          color: #6b6b7c;
          width: 90px;
          text-align: center;
          margin: 40px 0 0 20px;
        }
        a{
          position: relative;
          float: left;
          color: white;
          background-color: #f0445c;
          height: 20px;
          width: 120px;
          margin: 50px 0 0 30px; 
          @include border-radius(25px,25px);
          h3{
            margin: 1px 0 0 0;
            font : normal 400 15px "MikadoRegular";
          }
        }
        #good{
          color: #4df5a9;
          background-color: white;
          border: 1px solid #4df5a9;
        }
        #not-good{
          color: #f4386d;
          background-color: white;
          border: 1px solid #f4386d;
        }
        #close{
          color: #6b6b7c;
          border: none;
          background-color: white;
        }
      }
      .pop-up__content{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .exercice-list{
          position: relative;
          float: left;
          width: 150px;
          height: calc(100% - 100px);
          h4{
            font : normal 400 30px "MikadoMedium";
            color: #e4e4e5;
          }
          h6{
            font : normal 400 10px "MikadoRegular";
            color: #90909b;
          }
          ul{
            position: relative;
            width: 100%;
            height: 100%;
            li{
              position: relative;
              width: 100%;
              height: 10px;
              margin: 30px 0 0 0;
              h5{
                font : normal 400 15px "MikadoRegular";
                width: 20px;
                margin: 0 auto;
              }
              .exercice-previous{
                color: #0ee7b0;
                @include border-radius(25px);
                border: 1px solid #0ee7b0;
              }
              .exercice-next{
                color: #ea5652;
                @include border-radius(25px);
                border: 2px solid #ea5652;

              }
              .exercice-current{
                color: #bfbfbf;
                @include border-radius(25px);
                @include box-shadow(rgba(191,191,191, 1) 0 0 10px);
                border: 1px solid #bfbfbf;
              }
            }
          }
        }
        .exercice-view{
          position: relative;
          float: left;
          width: 575px;
          height: calc(100% - 100px);
          .exercice-view__content{
            position: relative;
            top: 0;
            left: 0;
            width: 528px;
            height: 362px;
            background-color: #e5e5e5;
            h2{
              font: 500 35px "MikadoMedium";
              color: #353F51; 
              float: left;
              width: 50%;
              margin:  100px 0 0 0;
            }
            h4{
              font: 500 35px "MikadoMedium";
              color: #ffc103; 
              float: left;
              width: 50%;
              margin:  100px 0 0 0;
            }
            h5{
              font: 500 35px "MikadoMedium";
              color: #353F51;
              float: left;
              margin: 30px 0 0 120px;

            }
            h6{
              font: 500 35px "MikadoMedium";
              color: #353F51;
              float: left;
              margin: 30px 0 0 80px;

            }
            img{
              float: left;

            }
            .attemps{
              margin: 35px 0 0 10px;
            }
          }
        }
      }
    }
    .students-list{
      float: left;
      position: relative;
      top: 0;
      left: 0;
      width: 280px;
      height: 100%;
      ul{
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow-y: scroll;
        li{
          position: relative;
          cursor: pointer;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 75px;
          margin: 0 0 -10px 0;
          &:first-child{
            margin: 25px 0 -10px 0;
          }
          img{
            @include box-shadow(rgba(185,187,189, 1) 0 0 15px);
            position: relative;
            width: 75px;
            height: 75px;
            margin: 0 0 0 90px;
            @include border-radius(38px);
            @include transform(translateX(-50%));
          }
        }
      }
    }
  }
}