.container-global-vision{
  height: 100%;
  display: block;
  .select-zone{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 15px 0 0 0;
    img{
      float: left;
      display: inline-block;
      width: 30px;
      height: 30px;
    }
    .switch__buton{
      margin: 0 0 0 92px;
      @include transform(translateY(50%));
    }
    .pause__button{
      margin: 0 0 0 20px;
      @include transform(translateY(50%));
    }
    a{
      float: left;
      color: #5c5c63;
      @include transform(translateY(50%));
    }
    #time-is-over{
      color: white;
      background-color: #f0445c;
      height: 35px;
      width: 100px;
      margin: 0 0 0 277px;
      @include border-radius(25px,25px);
      h3{
        margin: 7px 0 0 0;
        font : normal 400 15px "Mikado";
      }
    }
    .time-container{
      float: left;
      height: 50px;
      position: relative;
      margin: 0px 0 0 277px;
      h3{
        font : normal 400 15px "Mikado";
        text-transform: uppercase;
        color: #5c5c63;
      }
      h2{
        font : normal 400 39px "Mikado";
        color: #5c5c63;
      }
    }
  }
  ul{
    position: relative;
    top: 0px;
    height: 588px;
    li{
      position: relative;
      width: 16%;
      height: auto;
      float: left;
      margin: 55px 0 0 0;
      a{
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        img{
          @include box-shadow(rgba(185,187,189, 1) 0 0 15px);
          position: relative;
          width: 75px;
          height: 75px;
          @include border-radius(38px);
          @include transform(translateX(-50%));
        }
        h6{
          margin: 15px 0 0 0;
        }
      }
    }
  }
  .progess__bar{
    position: absolute;
    bottom: 20px;
    height: 25px;
    width: 90%;
    h3{
      position: absolute;
      width: 100%;
      text-align: left;
      padding: 0 0 0 25px;
      text-transform: uppercase;
      z-index: 5;
      font : normal 400 15px "Mikado";
      color: #b4bbc7;
      margin: 3px 0 0 0;
    }
    .bar{
      position: absolute;
      height: 25px;
      width: 0px;
      background-color: #d8e1e7;
    }
  }
}