@import "compass/reset";
@import "compass/css3";
@import "compass/css3/font-face";



@import "client/css/mixin.scss";
@import "client/css/base.scss";
@import "client/css/exercice.scss";
@import "client/css/login.scss";
@import "client/css/menu.scss";
@import "client/css/sendExercices.scss";
@import "client/css/globalVision.scss";

@import "client/css/personal_fonts.scss";



// $browser-width : 100%;
// $project-img-width : $browser-width/5;
// $project-img-height : $browser-width/5;


a:focus, 
button:focus, 
input[type=submit]:focus, 
input[type=button]:focus,input,input:focus {
  outline: none;
  border: 0;
}






@import "client/css/data.scss";
@import "client/css/groupCreation.scss";
@import "client/css/oups.scss";
@import "client/css/classShow.scss";