.container-send-exercices,.container-global-vision{
  position: relative;
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  background-image: url(../assets/background.png);
  @include background-size(cover);
  background-position: center center;
  .background-list{
    position: absolute;
    z-index: 0;
    width: 924px;
    height: 95px;
    background-image: url(../assets/background_list.png);
    @include background-size(cover);
    background-position: center center;
    left: 32px;
  }
  .list--1{
    top: 150px;
  }
  .list--2{
    top: 320px;
  }
  .list--3{
    top: 490px;
  }
  .list--4{
    top: 660px;
  }
  .select-zone{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0 0 0;
    img{
      float: left;
      display: inline-block;
    }

    .decoration-border{
      width: 3px;
      height: 24px;
      // display: inline-block;
      margin: 0 0 0 50px;
    }
    .step{
      width: 17px; 
      height: 17px;
    }
    .step-one, .step-two{
      margin: 0 0 0 20px;
    }
    p{
      float: left;
      font : normal 500 13px "MikadoMedium";
      color: #5c5c63;
      margin: 0 0 0 10px;
    }
    a{
      float: left;
      color: #5c5c63;
    }
    .number-student-selected{
      float: left;
      margin: 0 0 0 5px;
    }
    #select-all-classes{
      color: white;
      background-color: #f0445c;
      height: 25px;
      width: 250px;
      margin: 0 0 0 20px;
      @include border-radius(25px,25px);
      h3{
        margin: 3px;
        font : normal 400 15px "Mikado";
      }
    }
    .send-exercices{
      color:  #f0445c;
      background-color: white;
      height: 25px;
      width: 92px;
      margin: 0 0 0 20px;
      @include border-radius(25px,25px);
      border: 1px solid #f0445c;
      h3{
        margin: 3px;
        font : normal 400 15px "Mikado";
      }
    }
    .points-connected{
      margin: 0 0 0 10px;
    }
  }
  ul{
    position: relative;
    z-index: 10;
    width: 1000px;
    height: auto;
    vertical-align: middle;
    margin: 0 auto;
    li{
      position: relative;
      width: 16%;
      height: 20%;
      float: left;
      margin: 35px 0 0 0;
      a{
        color: $link-student-color;
        font : normal 500 12px "Mikado";
        img{
          @include border-radius(38px);
          position: relative;
          width: 75px;
          height: 75px;
          left: 40px;
        }
        .profile-overlay{
          position: relative;
          top: 0px;
          left: -38px;
        }
        .is-connected{
          position: relative;
          width: 12px;
          height: 12px;
          top: -40px;
          left: 0px;
          z-index: 12;
        }
        .is-missing{
          filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
          filter: gray; /* IE6-9 */
          -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
        }
        h6{
          margin: 15px 0 0 0;
        }
      }
    }
  }
}