template(name='circlue_cut_wired')
  svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='326px', height='326px', viewbox='0 0 326 326', enable-background='new 0 0 326 326', xml:space='preserve')
    path.circlue_cut_wired(fill='none', stroke='#B4B4B4', stroke-width='3', stroke-linecap='round', stroke-miterlimit='10', d='M167.806,82.999\
    c44.183,0,80,35.817,80,80S211.988,243,167.806,243c-44.183,0-80-35.818-80-80.001S123.622,82.999,167.806,82.999')
