template(name='classesShow')
  .container-classes-show
    if isTeacher currentUser
      a(href, id="previous")
        |Previous page
      a(href, id="next")
        |Next page

    img(src= "/Cours_01_0{{ getIndexClasses }}.gif")
