template(name='classesShow')
  .container-classes-show
    if isTeacher currentUser
      a(href, id="previous")
        img(src="../../ui/Fleche_export.png" alt="Previous" class="previous" id="")  
      a(href, id="next")
        img(src="../../ui/Fleche_export.png" alt="Next" class="previous" id="")  

    img(src= "/Cours_01_0{{ getIndexClasses }}.gif")
