template(name='connectedStudents')
  .container-connected-student
    h2 Connected
    ul
      each connectedStudents
        li
          a(href='/student/{{this._id}}')
            if isStudentNeedHelp this
              | {{ this.username }} /!\
            else
              | {{ this.username }}
