template(name='exerciceViewStudent')
  |{{ isDisplayingClasses currentUser }}
  //- CHOIX TYPOLOGIE EXERCICE
  .statement
    h2 Exercice
    hr
    p.title
      | Complète ces opérations
    .compute
      p.question
        | {{this.exercice.question}}
      if isEmptyArray this.exercice.answers.wrong 
        if isNeedingAssitance
          //- if isMediumLevel this.exercice.level
          p.dividend
            | {{ this.exercice.dividend}}
          p.denominator
            | {{ this.exercice.denominator}}
          |Soustraction intermediaire : 
          br
          |{{ this.exercice.dividend }} - 
          input#intermediate-substraction-medium-level(value='', name='susbtraction', placeholder=' ? * {{this.exercice.denominator}}')
          |=
          input#intermediate-substraction-result-medium-level(value='', name='susbtraction-result', placeholder='le reste')
          
          //- if isHardLevel this.exercice.level
          //-   .compute
          //-     |HARD WAY
          //-     //- p.dividend
          //-     //-   | {{ this.exercice.dividend}}
          //-     //- p.denominator
          //-     //-   | {{ this.exercice.denominator}}
          //-     | Diviser {{ this.exercice.dividend }} par {{ this.exercice.denominator }}, revient a diviser en premier  {{ getNumberFirstStepDivision this.exercice.dividend}} par {{this.exercice.denominator}}
          //-     | puis mettre {{ getUnit this.exercice.dividend}} en unité du reste de la premiere division multiplié par 10.
          //-     br
          //-     |Soustraction intermediaire : 
          //-     br
          //-     |{{ getNumberFirstStepDivision this.exercice.dividend }}
          //-     br
          //-     | - 
          //-     input#first-intermediate-substraction-hard-level(value='', name='susbtraction', placeholder=' ? * {{this.exercice.denominator}}')
          //-     br
          //-     |=
          //-     input#first-intermediate-substraction-result-hard-level(value='', name='susbtraction-result', placeholder='le reste', data-first_intermediate_substraction_result='')
          //-     br
          //-     |Puis on multiplie le reste de cette division par 10, en y ajoutant l'unité {{getUnit this.exercice.dividend}}
          //-     br
          //-     p.second-substraction-number
          //-     | - 
          //-     input#second-intermediate-substraction-hard-level(value='', name='susbtraction', placeholder=' ? * {{this.exercice.denominator}}')
          //-     br
          //-     |=
          //-     input#second-intermediate-substraction-result-hard-level(value='', name='susbtraction-result', placeholder='le reste', data-first_intermediate_substraction_result='')
        input#answer(value='{{ getStudentAnswer }}' name='answer' placeholder='Ta reponse' type="number" min="0" inputmode="numeric" pattern="[0-9]*")
        .clear

      else
        select#answer(name='answer')
          option(disabled='', selected='')  Réponse
          each sortAnswers this.exercice.answers
            option {{ isChecked this getStudentAnswer }} {{this}}
      .buttons
        a#need-help(href='')
          //- img(src="../../assets/ui/help_button.png" alt="HELP" class="help_button")
          //- img(src="../../assets/ui/help_button_text.png" alt="HELP" class="help_button_text")
          img(src="../../Help_ON/Help_ON_38.png" alt="HELP" class="help_button_anim" id="need-help-1")
          img(src="../../Help_ON/Help_ON_37.png" alt="HELP" class="help_button_anim" id="need-help-2")
          img(src="../../Help_ON/Help_ON_36.png" alt="HELP" class="help_button_anim" id="need-help-3")
          img(src="../../Help_ON/Help_ON_35.png" alt="HELP" class="help_button_anim" id="need-help-4")
          img(src="../../Help_ON/Help_ON_34.png" alt="HELP" class="help_button_anim" id="need-help-5")
          img(src="../../Help_ON/Help_ON_33.png" alt="HELP" class="help_button_anim" id="need-help-6")
          img(src="../../Help_ON/Help_ON_32.png" alt="HELP" class="help_button_anim" id="need-help-7")
          img(src="../../Help_ON/Help_ON_31.png" alt="HELP" class="help_button_anim" id="need-help-8")
          img(src="../../Help_ON/Help_ON_30.png" alt="HELP" class="help_button_anim" id="need-help-9")
          img(src="../../Help_ON/Help_ON_29.png" alt="HELP" class="help_button_anim" id="need-help-10")
          img(src="../../Help_ON/Help_ON_28.png" alt="HELP" class="help_button_anim" id="need-help-11")
          img(src="../../Help_ON/Help_ON_27.png" alt="HELP" class="help_button_anim" id="need-help-12")



        if isNeedingAssitance
          a#validator-medium-level(href='', class="validate_button")
            img(src="../../validate/btn_valider_00.png" alt="Validate" class="validate_button" id="validate-00")  
            img(src="../../validate/btn_valider_01.png" alt="Validate" class="validate_button" id="validate-01")  
            img(src="../../validate/btn_valider_02.png" alt="Validate" class="validate_button" id="validate-02")  
            img(src="../../validate/btn_valider_03.png" alt="Validate" class="validate_button" id="validate-03")  
            img(src="../../validate/btn_valider_04.png" alt="Validate" class="validate_button" id="validate-04")  
            img(src="../../validate/btn_valider_05.png" alt="Validate" class="validate_button" id="validate-05")  
            img(src="../../validate/btn_valider_06.png" alt="Validate" class="validate_button" id="validate-06")  
            img(src="../../validate/btn_valider_07.png" alt="Validate" class="validate_button" id="validate-07")  
            img(src="../../validate/btn_valider_08.png" alt="Validate" class="validate_button" id="validate-08")  
            img(src="../../validate/btn_valider_09.png" alt="Validate" class="validate_button" id="validate-09")  
            //- img(src="../../assets/ui_button.png" alt="Validate" class="validate_button__img")
        else
          if isHardLevel this.exercice.level
            a#validator-hard-level(href='', class="validate_button")
            img(src="../../validate/btn_valider_00.png" alt="Validate" class="validate_button" id="validate-00")  
            img(src="../../validate/btn_valider_01.png" alt="Validate" class="validate_button" id="validate-01")  
            img(src="../../validate/btn_valider_02.png" alt="Validate" class="validate_button" id="validate-02")  
            img(src="../../validate/btn_valider_03.png" alt="Validate" class="validate_button" id="validate-03")  
            img(src="../../validate/btn_valider_04.png" alt="Validate" class="validate_button" id="validate-04")  
            img(src="../../validate/btn_valider_05.png" alt="Validate" class="validate_button" id="validate-05")  
            img(src="../../validate/btn_valider_06.png" alt="Validate" class="validate_button" id="validate-06")  
            img(src="../../validate/btn_valider_07.png" alt="Validate" class="validate_button" id="validate-07")  
            img(src="../../validate/btn_valider_08.png" alt="Validate" class="validate_button" id="validate-08")  
            img(src="../../validate/btn_valider_09.png" alt="Validate" class="validate_button" id="validate-09")  
              //- img(src="../../assets/ui_button.png" alt="Validate" class="validate_button__img")    
          else
            a#validator(href='', class="validate_button")
              img(src="../../validate/btn_valider_00.png" alt="Validate" class="validate_button_img" id="validate-00")  
              img(src="../../validate/btn_valider_01.png" alt="Validate" class="validate_button_img" id="validate-01")  
              img(src="../../validate/btn_valider_02.png" alt="Validate" class="validate_button_img" id="validate-02")  
              img(src="../../validate/btn_valider_03.png" alt="Validate" class="validate_button_img" id="validate-03")  
              img(src="../../validate/btn_valider_04.png" alt="Validate" class="validate_button_img" id="validate-04")  
              img(src="../../validate/btn_valider_05.png" alt="Validate" class="validate_button_img" id="validate-05")  
              img(src="../../validate/btn_valider_06.png" alt="Validate" class="validate_button_img" id="validate-06")  
              img(src="../../validate/btn_valider_07.png" alt="Validate" class="validate_button_img" id="validate-07")  
              img(src="../../validate/btn_valider_08.png" alt="Validate" class="validate_button_img" id="validate-08")  
              img(src="../../validate/btn_valider_09.png" alt="Validate" class="validate_button_img" id="validate-09")  
              //- img(src="../../assets/ui/validate_button.png" alt="Validate" class="validate_button__img")
        .clear
      .clue
        h3 Indice
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
          | esse cillum dolore eu fugiat nulla pariatur. 
        .clear
      //- p Commentaire du professeur : {{ getStudentComment }}
      //- a#need-help(href='') Beosin d'aide ?
      .timeline-exercices
        ul
          li(class="",id="list-item-1")
          li(class="",id="list-item-2")
          li(class="",id="list-item-3")
          li(class="",id="list-item-4")
          li(class="",id="list-item-5")
          li(class="",id="list-item-6")
          li(class="",id="list-item-7")
          li(class="",id="list-item-8")
          li(class="",id="list-item-9")
          li(class="",id="list-item-10")

  if nextExerciceExist this.exercice.number
    a#next.hide(href='/student/{{this.student._id}}/{{ getNextExercice this.exercice.number }}')
      img(src="../../assets/ui/next_button.png" alt="Next" class="next_button__img")
      img(src="../../assets/ui/next_button.png" alt="Next" class="next_button__img")
      img(src="../../assets/ui/next_button.png" alt="Next" class="next_button__img")
  //- else
  //-   a(href='/')
  //-     | Plus d'exercices (lien vers / )

  |{{listNumberExercices currentUser}}

  if isDisplayingData
    |{{ gotToHome currentUser }}
