<template name="exercice">

  {{#if this.exercice}}

  	<p>  
      {{this.exercice.question}}
    </p>
    <form>
      <input type="hidden" name="exercice_id" value="{{this._id}}">

        {{#if isTeacher currentUser}}

            Réponse : {{ getStudentAnswer }}
            <br>
            <p>Ajouter un commentaire :</p>
            <input name="comment" id="comment" value="{{ getStudentComment }}">

        {{else}}

          {{#if isEmptyArray this.exercice.answers.wrong }}
            <input id="answer" value="{{ getStudentAnswer }}" name="answer" placeholder="Ta reponse">
          {{else}}
            <select id="answer" name="answer">
              <option disabled selected> Réponse</option>
                {{#each sortAnswers this.exercice.answers}}
                  <option {{ isChecked this getStudentAnswer }}>{{this}}</option>
              
                {{/each}}
            </select>
          {{/if}}

          <p>Commentaire du professeur : {{ getStudentComment }}</p>


          {{#if nextExerciceExist this.exercice.number}}
          
            <a id="next" class="hide" href="/student/{{this.student._id}}/{{ getNextExercice this.exercice.number }}">
              Exercice suivant
            </a>

          {{else}}

            <a href="/">
              Plus d'exercices (lien vers / )
            </a>

          {{/if}}

        {{/if}}

    </form>   
  {{/if}}

  

</template>