template(name='exercices')
  .container-exercices
    h4 Liste d'exercices
    each getExercices
      h5 Exercice n°{{this.number}}
      a(href='/student/{{currentUser._id}}/{{this._id}}') Faire l'exercice
