<template name="globalVision">
  <div class="global-vision">
    <h2>Global details</h2>
    <ul>
      <li>
        Nombre etudiants dans la classe : {{getStudentNumber}}
      </li>
      {{#each getExercices}}
        <li>
          Nombre etudiants qui ont validés l'exercice {{this.number}}  : {{ getNumberStudentValidExercice this._id }}
          <br>
          Nombre moyen d'essais : {{ getAttemptsExercice this._id }}
          <br>
          Durée moyenne : {{ getDurationExercice this._id true}}
        </li>
      {{/each}}
    </ul>
  </div>
</template>