template(name='globalVision')
  .container-global-vision
    .select-zone
      img(class="switch__buton" src="../assets/global_vision/switch.png" alt="Switch")
      img(class="pause__button" src="../assets/global_vision/pause.png" alt="Pause")
      .time-container
        h3 temps écoulé
        h2(id='time').is-not-defined {{getTotalDurationExercice true}}
        .clear
      a(href, id="time-is-over")
        h3 Terminer
      .clear
    ul.global
      each everyStudents
        li( class="avatar__selector")
          a(href,id="{{ this._id }}")
            
            +circlue_cut_global
            img(src="../../Help_teacher/Help_64.png" class="help_anim_teacher" id="help_anim_64")
            img(src="../../Help_teacher/Help_63.png" class="help_anim_teacher" id="help_anim_63")
            img(src="../../Help_teacher/Help_62.png" class="help_anim_teacher" id="help_anim_62")
            img(src="../../Help_teacher/Help_61.png" class="help_anim_teacher" id="help_anim_61")
            img(src="../../Help_teacher/Help_60.png" class="help_anim_teacher" id="help_anim_60")
            img(src="../../Help_teacher/Help_59.png" class="help_anim_teacher" id="help_anim_59")
            img(src="../../Help_teacher/Help_58.png" class="help_anim_teacher" id="help_anim_58")
            img(src="../../Help_teacher/Help_57.png" class="help_anim_teacher" id="help_anim_57")
            img(src="../../Help_teacher/Help_56.png" class="help_anim_teacher" id="help_anim_56")
            img(src="../../Help_teacher/Help_55.png" class="help_anim_teacher" id="help_anim_55")
            img(src="../../Help_teacher/Help_54.png" class="help_anim_teacher" id="help_anim_54")
            img(src="../../Help_teacher/Help_53.png" class="help_anim_teacher" id="help_anim_53")
            img(src="../../Help_teacher/Help_52.png" class="help_anim_teacher" id="help_anim_52")
            img(src="../../Help_teacher/Help_51.png" class="help_anim_teacher" id="help_anim_51")
            img(src="../../Help_teacher/Help_50.png" class="help_anim_teacher" id="help_anim_50")
            img(src="../../Help_teacher/Help_49.png" class="help_anim_teacher" id="help_anim_49")
            img(src="../../Help_teacher/Help_48.png" class="help_anim_teacher" id="help_anim_48")
            img(src="../../Help_teacher/Help_47.png" class="help_anim_teacher" id="help_anim_47")
            img(src="../../Help_teacher/Help_46.png" class="help_anim_teacher" id="help_anim_46")
            img(src="../../Help_teacher/Help_45.png" class="help_anim_teacher" id="help_anim_45")
            img(src="../../Help_teacher/Help_44.png" class="help_anim_teacher" id="help_anim_44")
            img(src="../../Help_teacher/Help_43.png" class="help_anim_teacher" id="help_anim_43")
            img(src="../../Help_teacher/Help_42.png" class="help_anim_teacher" id="help_anim_42")
            img(src="../../Help_teacher/Help_41.png" class="help_anim_teacher" id="help_anim_41")
            img(src="../../Help_teacher/Help_40.png" class="help_anim_teacher" id="help_anim_40")
            img(src="../../Help_teacher/Help_39.png" class="help_anim_teacher" id="help_anim_39")
            img(src="../../Help_teacher/Help_38.png" class="help_anim_teacher" id="help_anim_38")
            img(src="../../Help_teacher/Help_37.png" class="help_anim_teacher" id="help_anim_37")
            img(src="../../Help_teacher/Help_36.png" class="help_anim_teacher" id="help_anim_36")
            img(src="../../Help_teacher/Help_35.png" class="help_anim_teacher" id="help_anim_35")
            img(src="../../Help_teacher/Help_34.png" class="help_anim_teacher" id="help_anim_34")
            img(src="../../Help_teacher/Help_33.png" class="help_anim_teacher" id="help_anim_33")
            img(src="../../Help_teacher/Help_32.png" class="help_anim_teacher" id="help_anim_32")
            img(src="../../Help_teacher/Help_31.png" class="help_anim_teacher" id="help_anim_31")
            img(src="../../Help_teacher/Help_30.png" class="help_anim_teacher" id="help_anim_30")
            img(src="../../Help_teacher/Help_29.png" class="help_anim_teacher" id="help_anim_29")
            img(src="../../Help_teacher/Help_28.png" class="help_anim_teacher" id="help_anim_28")
            img(src="../../Help_teacher/Help_27.png" class="help_anim_teacher" id="help_anim_27")
            img(src="../../Help_teacher/Help_26.png" class="help_anim_teacher" id="help_anim_26")
            img(src="../../Help_teacher/Help_25.png" class="help_anim_teacher" id="help_anim_25")
            img(src="../../Help_teacher/Help_24.png" class="help_anim_teacher" id="help_anim_24")
            img(src="../../Help_teacher/Help_23.png" class="help_anim_teacher" id="help_anim_23")
            img(src="../../Help_teacher/Help_22.png" class="help_anim_teacher" id="help_anim_22")
            img(src="../../Help_teacher/Help_21.png" class="help_anim_teacher" id="help_anim_21")
            img(src="../../Help_teacher/Help_20.png" class="help_anim_teacher" id="help_anim_20")
            img(src="../../Help_teacher/Help_19.png" class="help_anim_teacher" id="help_anim_19")
            img(src="../../Help_teacher/Help_18.png" class="help_anim_teacher" id="help_anim_18")
            img(src="../../Help_teacher/Help_17.png" class="help_anim_teacher" id="help_anim_17")
            img(src="../../Help_teacher/Help_16.png" class="help_anim_teacher" id="help_anim_16")
            img(src="../../Help_teacher/Help_15.png" class="help_anim_teacher" id="help_anim_15")
            img(src="../../Help_teacher/Help_14.png" class="help_anim_teacher" id="help_anim_14")
            img(src="../../Help_teacher/Help_13.png" class="help_anim_teacher" id="help_anim_13")
            img(src="../../Help_teacher/Help_12.png" class="help_anim_teacher" id="help_anim_12")
            img(src="../../Help_teacher/Help_11.png" class="help_anim_teacher" id="help_anim_11")
            img(src="../../Help_teacher/Help_10.png" class="help_anim_teacher" id="help_anim_10")
            img(src="../../Help_teacher/Help_9.png" class="help_anim_teacher" id="help_anim_9")
            img(src="../../Help_teacher/Help_8.png" class="help_anim_teacher" id="help_anim_8")
            img(src="../../Help_teacher/Help_7.png" class="help_anim_teacher" id="help_anim_7")
            img(src="../../Help_teacher/Help_6.png" class="help_anim_teacher" id="help_anim_6")
            img(src="../../Help_teacher/Help_5.png" class="help_anim_teacher" id="help_anim_5")
            img(src="../../Help_teacher/Help_4.png" class="help_anim_teacher" id="help_anim_4")
            img(src="../../Help_teacher/Help_3.png" class="help_anim_teacher" id="help_anim_3")
            img(src="../../Help_teacher/Help_2.png" class="help_anim_teacher" id="help_anim_2")
            img(src="../../Help_teacher/Help_1.png" class="help_anim_teacher" id="help_anim_1")
            img(src="../../Help_teacher/Help_0.png" class="help_anim_teacher" id="help_anim_0")

            img(data-id="{{this._id}}" id="avatar-{{ getNameWithUnderscore this.username }}" src="../../profile_images/{{ getNameWithUnderscore this.username }}.png" alt="Avatar de {{ this.username }}" class="avatarUI")
            |{{isStudentNeedHelp this}}
    .overlay
    .progess__bar
      h3 Progression generale
      .bar
    |{{updateStudentSwitchProgress}}
    |{{getAllStudentsProgress}}

    .pop-up.hide
      .pop-up__overlay
      .frame
        .pop-up__top-content
          img(id="" src="../../profile_images/{{popupGetNameWithUnderscore}}.png" alt="Avatar de")
          h2 {{popupGetName}}
          a(href, id="good")
            h3 Resolu
          a(href, id="not-good")
            h3 Non resolu
          a(href, id="close")
            h3 Fermer
          .clear
        .pop-up__content
          .exercice-list
            h6 Progression
            h4 {{popupGetStudentProgress}}%
            h6 Exerice
            ul
              each getExercices
                li
                  h5(class="exercice-{{popupExerciceTimeline}}") {{this.number}}
          .exercice-view
            .exercice-view__content
              h2 {{popupgetStatementExercice}}
              h4 {{popupGetStudentAnswerExercice}}
              h6 x{{popupGetAttemps}}
              img(src="../../ui/number_attempt.png" alt="number attempt" class="attemps")
          .clear
          
      .students-list
        ul
          each everyStudents
            li(id="{{ this._id }}")
              img(id="" src="../../profile_images/{{ getNameWithUnderscore this.username }}.png" alt="Avatar de {{ this.username }}")
      .clear
