template(name='globalVision')
  .container-global-vision
    .select-zone
      img(class="switch__buton" src="../assets/global_vision/switch.png" alt="Switch")
      img(class="pause__button" src="../assets/global_vision/pause.png" alt="Pause")
      .time-container
        h3 temps écoulé
        h2(id='time').is-not-defined {{getTotalDurationExercice true}}
        .clear
      a(href, id="time-is-over")
        h3 Terminer
      .clear
    ul.global
      each everyStudents
        li
          a(href,id="{{ this._id }}")
            //- BEFORE FOR GO TO STUDEN PROFILE a(href='/student/{{this._id}}')
            img(id="avatar-{{ getNameWithUnderscore this.username }}" src="../../profile_images/{{ getNameWithUnderscore this.username }}.png" alt="Avatar de {{ this.username }}")
            //- img(id="avatar-{{ getNameWithUnderscore this.username }}-overlay" src="../assets/select_student/profile-overlay.png" alt="Overlay de {{ this.username }}" class="profile-overlay transparent")
            |{{isStudentNeedHelp this}}
    .progess__bar
      h3 Progression generale
      .bar
    |{{updateStudentSwitchProgress}}

    .pop-up.hide
      .pop-up__overlay
      .frame
        .pop-up__top-content
          img(id="" src="../../profile_images/{{popupGetNameWithUnderscore}}.png" alt="Avatar de")
          h2 {{popupGetName}}
          a(href, id="good")
            h3 Resolu
          a(href, id="not-good")
            h3 Non resolu
          a(href, id="close")
            h3 Fermer
          .clear
        .pop-up__content
          .exercice-list
            h6 Progression
            h4 {{popupGetStudentProgress}}%
            h6 Exerice
            ul
              each getExercices
                li
                  h5(class="exercice-{{popupExerciceTimeline}}") {{this.number}}

          .exercice-view
            .exercice-view__content
              h2 {{popupgetStatementExercice}}
              h4 {{popupGetStudentAnswerExercice}}
              //- h5 x3
              //- img(src="../../ui/number_help.png" alt="number help" class="help")
              h6 x{{popupGetAttemps}}
              img(src="../../ui/number_attempt.png" alt="number attempt" class="attemps")
          .clear
          
      .students-list
        ul
          each everyStudents
            li(id="{{ this._id }}")
              img(id="" src="../../profile_images/{{ getNameWithUnderscore this.username }}.png" alt="Avatar de {{ this.username }}")
      .clear
