template(name='groupCreation')
  .container-group-creation.hide.container
    .list-container
      each groupCreationList
        ul(class="{{this.name}}")
          .background--circle
          li.user1
            a(href)
              h3 {{ this.user1.username }}
              //- BEFORE FOR GO TO STUDEN PROFILE a(href='/student/{{this._id}}')
              img(id="avatar-{{ getNameWithUnderscore this.user1.username }}" src="../assets/profile_images/{{ getNameWithUnderscore this.user1.username }}.png" alt="Avatar de {{ this.user1.username }}")
          li.user2
            a(href)
              h3 {{ this.user2.username }}
              //- BEFORE FOR GO TO STUDEN PROFILE a(href='/student/{{this._id}}')
              img(id="avatar-{{ getNameWithUnderscore this.user2.username }}" src="../assets/profile_images/{{ getNameWithUnderscore this.user2.username }}.png" alt="Avatar de {{ this.user2.username }}")
          li.user3
            a(href)
              //- BEFORE FOR GO TO STUDEN PROFILE a(href='/student/{{this._id}}')
              img(id="avatar-{{ getNameWithUnderscore this.user3.username }}" src="../assets/profile_images/{{ getNameWithUnderscore this.user3.username }}.png" alt="Avatar de {{ this.user3.username }}")
              h3 {{ this.user3.username }}
          li.user4
            a(href)
              //- BEFORE FOR GO TO STUDEN PROFILE a(href='/student/{{this._id}}')
              img(id="avatar-{{ getNameWithUnderscore this.user4.username }}" src="../assets/profile_images/{{ getNameWithUnderscore this.user4.username }}.png" alt="Avatar de {{ this.user4.username }}")
              h3 {{ this.user4.username }}
          .clear
    .clear
    |{{updateStudentSwitchProgress}}
    .select-zone
      img(class="switch__buton" src="../assets/global_vision/switch.png" alt="Switch")
      img(class="arrow__button" src="../../ui/arrow.png" alt="Arrow")

      a(href, id="validate-groups")
        h3 Valider les groupes
      .clear