template(name='menu')
  .container-menu.container
    h2 Menu
    if isTeacher currentUser
      a(href, id="display-exercice")
        |Display Exercice
      br
      a(href, id="display-classes")
        |Display Classes
      br
      a(href, id="display-waiting")
        |Display Waiting
      br
            
    else
      h3 Enfant = pas l'droit menu