template(name='menu')
  .container-menu.container.menu
    nav
      .top--bar
      ul
        li.top--bar__logo
          a(href, id="logo-home")
            img(src="../../logo/logo_blanc.svg" alt="Logo HEP")
        li
          if isTeacher currentUser
            a(href, id="display-waiting")
              |Espace préparation
        
        li
          if isTeacher currentUser
            a(href, id="display-classes")
              |Manuel scolaire
        li
          if isTeacher currentUser
            a(href, id="display-exercice" class="selected")
              |Espace classe
        li.burger
          a(href, id="display-menu")
            +burger
            .log-out.hide
              img(id="avatar-Abla_Louna.png" src="../assets/profile_images/Abla_Louna.png" alt="Avatar de ")
              .log-out__text
                h3 Philippe Neveu
                a(href, id="logout")
                  |Se deconnecter
              .clear
            .clear
      .bottom--bar
