template(name='oups')
  .container-oups
    .animation-background#anim
      .stars
        img(src="../../ui/oups.png" id="bg-oups")
    h2 Il y a quelques zones d’ombres par ici ! on va éclaircir ça par groupe !
    h3 un peu de patience, ça charge ! 