template(name='oups')
  .container-oups
    //- h2 OUPS
    //- .video--container
    //-   video(src="../../waiting/oups2_HD.webmhd.webm" type="video/ogg; codecs=&quot;dirac, speex&quot;", autoplay='', class="fillWidth")
    //-     | Sorry, your browser doesn't support embedded videos, 
    //-     | but don't worry, you can 
    .animation-background#anim
      .stars
        img(src="../../ui/oups.png" id="bg-oups")
        //- img(src="../../Oups_5/oups_stars_1.png" id="stars_1")
        //- img(src="../../Oups_5/oups_stars_2.png" id="stars_2")
        //- img(src="../../Oups_5/oups_stars_3.png" id="stars_3")
        //- img(src="../../Oups_5/oups_stars_4.png" id="stars_4")
        //- img(src="../../Oups_5/oups_stars_5.png" id="stars_5")
        //- img(src="../../Oups_5/oups_stars_6.png" id="stars_6")
        //- img(src="../../Oups_5/oups_stars_7.png" id="stars_7")
        //- img(src="../../Oups_5/oups_stars_8.png" id="stars_8")
        //- img(src="../../Oups_5/oups_stars_9.png" id="stars_9")
        //- img(src="../../Oups_5/oups_stars_10.png" id="stars_10")
        //- img(src="../../Oups_5/oups_stars_11.png" id="stars_11")
        //- img(src="../../Oups_5/oups_stars_12.png" id="stars_12")
        //- img(src="../../Oups_5/oups_stars_13.png" id="stars_13")
        //- img(src="../../Oups_5/oups_stars_14.png" id="stars_14")
        //- img(src="../../Oups_5/oups_stars_15.png" id="stars_15")
        //- img(src="../../Oups_5/oups_stars_16.png" id="stars_16")
        //- img(src="../../Oups_5/oups_stars_17.png" id="stars_17")
        //- img(src="../../Oups_5/oups_stars_18.png" id="stars_18")
        //- img(src="../../Oups_5/oups_stars_19.png" id="stars_19")
        //- img(src="../../Oups_5/oups_stars_20.png" id="stars_20")
        //- img(src="../../Oups_5/oups_stars_21.png" id="stars_21")
        //- img(src="../../Oups_5/oups_stars_22.png" id="stars_22")
        //- img(src="../../Oups_5/oups_stars_23.png" id="stars_23")
        //- img(src="../../Oups_5/oups_stars_24.png" id="stars_24")
        
      //- img(src="../../waiting/oups_only.png" class="" id="oups")
    h2 Il y a quelques zones d’ombres par ici ! on va éclaircir ça par groupe !
    h3 un peu de patience, ça charge ! 
    //- .oups-loading
    //-   img(src="../../waiting/loading_oups.png" class="" alt="oups loading")
