<template name="student">
  <div class="container-student">
    <h6>Student template</h6>
    <h1>{{this.username}}</h1>
    {{#each this.profile.answers}}
      {{ updateDurationStudentExercice this }}
      {{#with getOriginalQuestion this.exercice_id}}
        <h4>Exercice {{ this.number }}</h4>
        {{ this.question }}
        <br>
        Bonne réponse : {{ this.answers.right}}
        <br>
      {{/with}}
      <br>
      Nombre de tentatives : {{ this.attempt }}
      <br>
      A besoin d'aide : {{ getNeedHelp this }}
      <br>

      Durée : <span id="time-{{this.exercice_id}}" class="is-not-defined">{{ this.time }}</span>
      <br>
      <a href="{{../_id}}/{{this.exercice_id}}">Accéder</a>
    {{/each }}
    :
  </div>
</template>