template(name='waiting')
  .container-waiting
    .background
      //- img(src="../../Illustration_BG/Accueil_BG_0.jpg" class="accueil_bg" id="accueil_bg_0")
      //- img(src="../../Illustration_BG/Accueil_BG_1.jpg" class="accueil_bg" id="accueil_bg_1")
      //- img(src="../../Illustration_BG/Accueil_BG_2.jpg" class="accueil_bg" id="accueil_bg_2")
      //- img(src="../../Illustration_BG/Accueil_BG_3.jpg" class="accueil_bg" id="accueil_bg_3")
      //- img(src="../../Illustration_BG/Accueil_BG_4.jpg" class="accueil_bg" id="accueil_bg_4")
      //- img(src="../../Illustration_BG/Accueil_BG_5.jpg" class="accueil_bg" id="accueil_bg_5")
      //- img(src="../../Illustration_BG/Accueil_BG_6.jpg" class="accueil_bg" id="accueil_bg_6")
      //- img(src="../../Illustration_BG/Accueil_BG_7.jpg" class="accueil_bg" id="accueil_bg_7")
      //- img(src="../../Illustration_BG/Accueil_BG_8.jpg" class="accueil_bg" id="accueil_bg_8")
      //- img(src="../../Illustration_BG/Accueil_BG_9.jpg" class="accueil_bg" id="accueil_bg_9")
      //- img(src="../../Illustration_BG/Accueil_BG_10.jpg" class="accueil_bg" id="accueil_bg_10")
      //- img(src="../../Illustration_BG/Accueil_BG_11.jpg" class="accueil_bg" id="accueil_bg_11")
      //- img(src="../../Illustration_BG/Accueil_BG_12.jpg" class="accueil_bg" id="accueil_bg_12")
      //- img(src="../../Illustration_BG/Accueil_BG_13.jpg" class="accueil_bg" id="accueil_bg_13")
      //- img(src="../../Illustration_BG/Accueil_BG_14.jpg" class="accueil_bg" id="accueil_bg_14")
      //- img(src="../../Illustration_BG/Accueil_BG_15.jpg" class="accueil_bg" id="accueil_bg_15")
      //- img(src="../../Illustration_BG/Accueil_BG_16.jpg" class="accueil_bg" id="accueil_bg_16")
      //- img(src="../../Illustration_BG/Accueil_BG_17.jpg" class="accueil_bg" id="accueil_bg_17")
      //- img(src="../../Illustration_BG/Accueil_BG_18.jpg" class="accueil_bg" id="accueil_bg_18")
      //- img(src="../../Illustration_BG/Accueil_BG_19.jpg" class="accueil_bg" id="accueil_bg_19")
      //- img(src="../../Illustration_BG/Accueil_BG_20.jpg" class="accueil_bg" id="accueil_bg_20")
      //- img(src="../../Illustration_BG/Accueil_BG_21.jpg" class="accueil_bg" id="accueil_bg_21")
      //- img(src="../../Illustration_BG/Accueil_BG_22.jpg" class="accueil_bg" id="accueil_bg_22")
      //- img(src="../../Illustration_BG/Accueil_BG_23.jpg" class="accueil_bg" id="accueil_bg_23")
      //- img(src="../../Illustration_BG/Accueil_BG_24.jpg" class="accueil_bg" id="accueil_bg_24")
      //- img(src="../../Illustration_BG/Accueil_BG_25.jpg" class="accueil_bg" id="accueil_bg_25")
      //- img(src="../../Illustration_BG/Accueil_BG_26.jpg" class="accueil_bg" id="accueil_bg_26")
      //- img(src="../../Illustration_BG/Accueil_BG_27.jpg" class="accueil_bg" id="accueil_bg_27")
      //- img(src="../../Illustration_BG/Accueil_BG_28.jpg" class="accueil_bg" id="accueil_bg_28")
      //- img(src="../../Illustration_BG/Accueil_BG_29.jpg" class="accueil_bg" id="accueil_bg_29")
      //- img(src="../../Illustration_BG/Accueil_BG_30.jpg" class="accueil_bg" id="accueil_bg_30")
      //- img(src="../../Illustration_BG/Accueil_BG_31.jpg" class="accueil_bg" id="accueil_bg_31")
      //- img(src="../../Illustration_BG/Accueil_BG_32.jpg" class="accueil_bg" id="accueil_bg_32")
      //- img(src="../../Illustration_BG/Accueil_BG_33.jpg" class="accueil_bg" id="accueil_bg_33")
      //- img(src="../../Illustration_BG/Accueil_BG_34.jpg" class="accueil_bg" id="accueil_bg_34")
      //- img(src="../../Illustration_BG/Accueil_BG_35.jpg" class="accueil_bg" id="accueil_bg_35")
      //- img(src="../../Illustration_BG/Accueil_BG_36.jpg" class="accueil_bg" id="accueil_bg_36")
      //- img(src="../../Illustration_BG/Accueil_BG_37.jpg" class="accueil_bg" id="accueil_bg_37")
      //- img(src="../../Illustration_BG/Accueil_BG_38.jpg" class="accueil_bg" id="accueil_bg_38")
      //- img(src="../../Illustration_BG/Accueil_BG_39.jpg" class="accueil_bg" id="accueil_bg_39")
      //- img(src="../../Illustration_BG/Accueil_BG_40.jpg" class="accueil_bg" id="accueil_bg_40")
      //- img(src="../../Illustration_BG/Accueil_BG_41.jpg" class="accueil_bg" id="accueil_bg_41")
      //- img(src="../../Illustration_BG/Accueil_BG_42.jpg" class="accueil_bg" id="accueil_bg_42")
      //- img(src="../../Illustration_BG/Accueil_BG_43.jpg" class="accueil_bg" id="accueil_bg_43")
      //- img(src="../../Illustration_BG/Accueil_BG_44.jpg" class="accueil_bg" id="accueil_bg_44")
      //- img(src="../../Illustration_BG/Accueil_BG_45.jpg" class="accueil_bg" id="accueil_bg_45")
      //- img(src="../../Illustration_BG/Accueil_BG_46.jpg" class="accueil_bg" id="accueil_bg_46")
      //- img(src="../../Illustration_BG/Accueil_BG_47.jpg" class="accueil_bg" id="accueil_bg_47")
      //- img(src="../../Illustration_BG/Accueil_BG_48.jpg" class="accueil_bg" id="accueil_bg_48")
      //- img(src="../../Illustration_BG/Accueil_BG_49.jpg" class="accueil_bg" id="accueil_bg_49")
      //- img(src="../../Illustration_BG/Accueil_BG_50.jpg" class="accueil_bg" id="accueil_bg_50")
      //- img(src="../../Illustration_BG/Accueil_BG_51.jpg" class="accueil_bg" id="accueil_bg_51")
      //- img(src="../../Illustration_BG/Accueil_BG_52.jpg" class="accueil_bg" id="accueil_bg_52")
      //- img(src="../../Illustration_BG/Accueil_BG_53.jpg" class="accueil_bg" id="accueil_bg_53")
      //- img(src="../../Illustration_BG/Accueil_BG_54.jpg" class="accueil_bg" id="accueil_bg_54")
      //- img(src="../../Illustration_BG/Accueil_BG_55.jpg" class="accueil_bg" id="accueil_bg_55")
      //- img(src="../../Illustration_BG/Accueil_BG_56.jpg" class="accueil_bg" id="accueil_bg_56")
      //- img(src="../../Illustration_BG/Accueil_BG_57.jpg" class="accueil_bg" id="accueil_bg_57")
      //- img(src="../../Illustration_BG/Accueil_BG_58.jpg" class="accueil_bg" id="accueil_bg_58")
      //- img(src="../../Illustration_BG/Accueil_BG_59.jpg" class="accueil_bg" id="accueil_bg_59")
      //- img(src="../../Illustration_BG/Accueil_BG_60.jpg" class="accueil_bg" id="accueil_bg_60")
      //- img(src="../../Illustration_BG/Accueil_BG_61.jpg" class="accueil_bg" id="accueil_bg_61")
      //- img(src="../../Illustration_BG/Accueil_BG_62.jpg" class="accueil_bg" id="accueil_bg_62")
      //- img(src="../../Illustration_BG/Accueil_BG_63.jpg" class="accueil_bg" id="accueil_bg_63")
      //- img(src="../../Illustration_BG/Accueil_BG_64.jpg" class="accueil_bg" id="accueil_bg_64")
      //- img(src="../../Illustration_BG/Accueil_BG_65.jpg" class="accueil_bg" id="accueil_bg_65")
      //- img(src="../../Illustration_BG/Accueil_BG_66.jpg" class="accueil_bg" id="accueil_bg_66")
      //- img(src="../../Illustration_BG/Accueil_BG_67.jpg" class="accueil_bg" id="accueil_bg_67")
      //- img(src="../../Illustration_BG/Accueil_BG_68.jpg" class="accueil_bg" id="accueil_bg_68")
      //- img(src="../../Illustration_BG/Accueil_BG_69.jpg" class="accueil_bg" id="accueil_bg_69")
      //- img(src="../../Illustration_BG/Accueil_BG_70.jpg" class="accueil_bg" id="accueil_bg_70")
      //- img(src="../../Illustration_BG/Accueil_BG_71.jpg" class="accueil_bg" id="accueil_bg_71")
      //- img(src="../../Illustration_BG/Accueil_BG_72.jpg" class="accueil_bg" id="accueil_bg_72")
      //- img(src="../../Illustration_BG/Accueil_BG_73.jpg" class="accueil_bg" id="accueil_bg_73")
      img(src="../../Illustration_BG/Accueil_BG_74.jpg" class="accueil_bg" id="accueil_bg_74")
    .doodle
      img(src="../../waiting/le-savais-tu.png")
      h1 Le 27 mai 1931 avait lieu le premier vol humain dans la stratosphère
      p
        | Le professeur suisse Auguste Piccard et son assistant Paul Kipfel battent 
        | un record d'altitude lors d'une ascension en ballon dont le but est 
        | l'étude du rayonnement cosmique. Ils s'élèvent à 16 000 mètres 
        | grâce à l'utilisation d'une cabine pressurisée.
      h3 Un peu de patience ! ça charge

