template(name='home')
  .container-home.container
    +menu
    if isTeacher currentUser
      +connectedStudents 
      //- +globalVision
      //- +classesShow

    else
      h1 Hi #{currentUser.username}
      if isDisplayingExerices
        +exercices
      if isDisplayingClasses
        +classesShow 
      if isDisplayingWaiting
        +waiting
      //- +waiting 
      //- +classesShow
