template(name='home')
  .container-home.container
    if isTeacher currentUser
      if isDisplayingSendExercices
        +sendExercices
      if isDisplayingGlobalVision
        +globalVision 
      if isDisplayingExerices
        +globalVision      
      if isDisplayingClasses
        +classesShow 
      if isDisplayingGroup
        +groupCreation
      if isDisplayingData
        +data

    else
      if isDisplayingExerices
        +exercices
      if isDisplayingGlobalVision
        +exercices
      if isDisplayingClasses
        +classesShow 
      if isDisplayingWaiting
        +oups
      //- else
      //-   +waiting
      //- +oups
