template(name='home')
  .container-home
    +menu
    if isTeacher currentUser
      +connectedStudents 
      +globalVision

    else
      h1 Hi #{currentUser.username}

      +exercices
      +waiting 
    +classesShow
    