template(name='home')
  .container-home.container
    if isTeacher currentUser
      //- +sendExercices 
      //- +globalVision
      //- +classesShow
      //- if isDisplayingClasses
      //-   +classesShow 
      +data
      //- +groupCreation


    else
      h1 Hi #{currentUser.username}
      if isDisplayingExerices
        +exercices
      if isDisplayingClasses
        +classesShow 
      if isDisplayingWaiting
        +waiting
      //- +waiting 
      //- +classesShow
